.elementor-279 .elementor-element.elementor-element-5d77916 > .elementor-container{max-width:800px;}.elementor-279 .elementor-element.elementor-element-5d77916{padding:80px 0px 80px 0px;}/* Start custom CSS for shortcode, class: .elementor-element-9cc7672 */.wpuf-fields .textfield {
    width: 100%;
    max-width: 100%;
}

.wpuf-fields select:not([multiple]) {
    width: 100%;
}/* End custom CSS */